---
import BaseHead from "../components/BaseHead.astro";
import { ViewTransitions } from "astro:transitions";
import InfoCard from "../components/InfoCard.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <ViewTransitions />
  </head>
  <body>
    <main transition:name="main" class="flow">
      <InfoCard />
    </main>
  </body>
</html>
