---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
import InfoCard from "../components/InfoCard.astro";
import Button from "../components/Link.astro";

export const SITE_TITLE = "Astro Blog";
export const SITE_DESCRIPTION = "Welcome to my website!";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <ViewTransitions />
  </head>
  <body>
    <!-- <Header title={SITE_TITLE} /> -->

    <main transition:name="main" class="flow">
      <InfoCard />
    </main>
  </body>
</html>
