---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Tools from "../components/Tools.astro";
---

<Layout title="Acrylic Web Designs">
  <main>
    <Card />
    <Tools />
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 2vh;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
  }
</style>

<script>
  if (import.meta.env.PROD) {
    fetch(
      "https://api.countapi.xyz/hit/acrylic/076bc693-81c0-4f66-990d-5a8122dbac3e"
    );
  }
</script>
