---
import { Image } from "@astrojs/image/components";

import profile_pic from "../assets/images/profile_pic_sqr.jpg";

const pp_alt: string = "Profile Image";
const width = +(1617 / 6).toFixed(0);
---

<section class="card">
  <Image
    src={profile_pic}
    alt={pp_alt}
    width={width}
    format="webp"
    aspectRatio="1:1"
    loading="eager"
  />
  <h2>Hi, my name is Chris and I can build websites for you.</h2>
</section>

<style>
  @keyframes fade-border {
    40% {
      border-color: rgba(
        254,
        254,
        254,
        0
      ); /* Starting color with 50% transparency */
    }
    50% {
      border-color: rgba(254, 254, 254, 0.8); /* Fully opaque white */
    }
    65% {
      border-color: rgba(254, 254, 254, 0); /* Back to starting color */
    }
  }

  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3vh;

    padding: 3vw;
    border: rgba(254, 254, 254, 0) solid 0.3rem;
    border-radius: 8px;

    animation: fade-border 5s ease-in-out infinite;
  }

  img {
    height: auto;
    width: clamp(2.5rem, 40vw, 17rem);
    padding: 0.45rem;
    border-radius: 50%;
    border: 0.2rem solid rgb(254, 254, 254);
  }

  h2 {
    font-size: clamp(1.5rem, 3vw, 3rem);
    line-height: 1.3em;
    color: #fefefe;
  }

  .card:hover {
    /* visibility: hidden; */
    /* background-color: green; */
  }
</style>
