---
const { href } = Astro.props;
---

<a href={href}>
  <slot />
</a>

<style>
  a {
    font-size: var(--step-0);
    color: black;
    background-color: transparent;
    border: black solid 2px;
    border-radius: 8px;

    padding: 0.1em 0.6em;
    min-width: 6ch;
    text-align: center;

    cursor: pointer;
    text-decoration: none;

    transition: scale 0.06s ease;
  }

  a:hover {
    border-color: #0006;
  }

  a:active {
    scale: 0.97;
  }
</style>
