---
import { Image } from "astro:assets";
import placeholderImg from "../assets/placeholder-img.png";

const { href, title, text, projectImg, imgAlt } = Astro.props;
---

<style>
  li {
    list-style: none;
    margin-bottom: 1em;

    overflow: hidden;

    border: 2px dashed lightgrey;
    border-radius: 8px;
  }

  li:hover {
    border-color: rgb(137, 137, 137);
  }

  a {
    text-decoration: none;

    display: flex;
    flex-wrap: wrap;
    gap: 1.1ch;

    color: black;
  }

  h1 {
    font-size: var(--step-1);
    line-height: 1.5;
    margin-bottom: 0;
    padding-inline: 1ch;
  }

  p {
    font-size: var(--step--0);
    margin-bottom: 0;
    padding-inline: 1ch;
    max-width: 45ch;
  }
</style>
<li class="smol-card-component">
  <a href={href}>
    <Image
      class="img"
      src={projectImg ?? placeholderImg}
      format="webp"
      width={250}
      height={250}
      alt={imgAlt}
    />

    <div class="text">
      <h1>{title}</h1>
      <p>{text}</p>
    </div>
  </a>
</li>
