---
import BaseHead from "../../components/BaseHead.astro";
import { ViewTransitions } from "astro:transitions";
import InfoCard from "../../components/InfoCard.astro";
import ListItem from "../../components/ListItem.astro";

import redEggLogo from "../../assets/red_egg_logo.webp";

export const SITE_TITLE = "Acrylic Web Designs";
export const SITE_DESCRIPTION = "Welcome to my website!";

const { page } = Astro.props;

// todo: get projects
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <ViewTransitions />
    <style>
      h1 {
        text-wrap: wrap;
        max-width: 20ch;
      }
    </style>
  </head>
  <body>
    <!-- <Header title={SITE_TITLE} /> -->
    <aside>
      <InfoCard />
    </aside>
    <main>
      <h1>Recent projects (work in prog...)</h1>
      <ul>
        {
          Array(4).fill(
            <ListItem
              href="https://reader-prototype-mu.vercel.app/books/1"
              projectImg={redEggLogo}
              title={"Interactive Reader Red Egg Edutainment"}
              imgAlt="RedEgg Educatainment logo - a red, cartoon egg with a face"
              text="Interactive children's book using AI generated speach to text, syncronized text highlighting, and automated data pipeline"
            />
          )
        }
      </ul>
    </main>
  </body>
</html>
