---
import BaseHead from "../../components/BaseHead.astro";
import { ViewTransitions } from "astro:transitions";
import InfoCard from "../../components/InfoCard.astro";
import ListItem from "../../components/ListItem.astro";

import redEggLogo from "../../assets/red_egg_logo.webp";

export const SITE_TITLE = "Astro Blog";
export const SITE_DESCRIPTION = "Welcome to my website!";

const { page } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <ViewTransitions />
  </head>
  <body>
    <!-- <Header title={SITE_TITLE} /> -->
    <aside>
      <InfoCard />
    </aside>
    <main>
      <h1>Recent projects</h1>
      <ul>
        {
          Array(4).fill(
            <ListItem
              href="https://red-egg-edu-reader.vercel.app/"
              projectImg={redEggLogo}
              title={"Interactive Reader Red Egg Edutainment"}
              imgAlt="RedEgg Educatainment logo - a red, cartoon egg with a face"
              text="Interactive children's book using AI generated speach to text, syncronized text highlighting, and automated data pipeline"
            />
          )
        }
      </ul>
    </main>
  </body>
</html>
