---
export interface Props {
  title: string;
}

const { title } = Astro.props;

const fgCol = "#f6f6f6";
const bgCol = "#fe905f";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Acrylic Web Designs Homepage" />
    <meta name="theme-color" content={bgCol} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style>
  body {
    display: flex;
  }
</style>
<style is:global define:vars={{ fgCol, bgCol }}>
  :root {
    background-color: var(--bgCol);
  }

  html {
    font-family: system-ui, sans-serif;
    background-color: var(--bgCol);
  }

  /* Adapted from Josh Comeau's Reset */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html,
  body {
    height: 100%;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
  #root,
  #__next {
    isolation: isolate;
  }
</style>
